.navbar .nav{
    float: right;
}
div {
    font-size: 1.1em;
}
div font {
    font-size: inherit;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-dialog {
       top: 250px;
}

.modal-header .close {
    margin-right: 0;
}   

.modal-title {
    margin: 0px auto;
}

/* override bootgrid (table) */
.search.form-group{
    display: none;
}

.actions.btn-group{
    display: none;
}

.form-check-label{
    margin-left: 20px;
}