.navbar .nav{
    float: right;
}
div {
    font-size: 1.1em;
}
div font {
    font-size: inherit;
}

.modal-dialog {
       top: 250px;
}

.modal-header .close {
    margin-right: 0;
}   

.modal-title {
    margin: 0px auto;
}

/* override bootgrid (table) */
.search.form-group{
    display: none;
}

.actions.btn-group{
    display: none;
}